.ipynb_checkpoints
*cache*
*.pyc
*.bak
data*
*.ipynb
qubit-measurements*
log/
*.pkl

# pyCharm directory #
.idea/
*.iml
*.xml

# output files #
*.pdf
*.png
data_samples/

# logging #
*.log
Git token/
tools/
